*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

header{
    background-color: peachpuff;
    height: 80px;
}

.flex-navbar{
    display: flex;
    justify-content: space-between;

}

.flex-sub-nav{
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    font-size: 5px;
}

footer{
    height: 200px;
    background-color: black;
}