*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

header{
    background-color: peachpuff;
    height: 80px;
}

.flex-navbar{
    display: flex;
    justify-content: space-between;

}

.flex-sub-nav{
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    font-size: 5px;
}

.jumbotron{
    display: flex;
    justify-content: center;
    background-color: #b4d0e7;
}

.jumbotron-section{
    background-color: mediumvioletred;
    height: 400px;
    width: 700px;
    margin-top: 5rem;
}

.jumbotron-section-central{
    display: flex;
    justify-content: center;
    background-color: aqua;
    height: 100%;
}

.firstpa{
    background-color: blueviolet;
    width: 30%;
}

.imagine1{
    background-color: yellowgreen;
    width: 70%;
}

.container{
    display: flex;
    justify-content: center;
    background-color: deeppink;
}

.main-section{
    background-color: orange;
    height: 300px;
    width: 600px;
    margin-top: 5rem;
}

.containersection-2{
    display: flex;
    background-color: black;
    height: 100%;
}

.div-container{
    background-color: rgb(236, 143, 201);
    flex-direction: row;
    border-right: 0.2rem dotted yellow;
    width: 33%;
    height: 100%;
}

.div-container5{
    background-color: rgb(236, 143, 201);
    flex-direction: row;
    border-right: 0.2rem dotted yellow;
    border-bottom: 0.2rem dotted yellow; ;
    width: 33%;
    height: 50%;
}

.botton{
    background-color: #0061ff;
}

.radio-button{
    background-color: crimson;
}

.section-4-contacts{
    display: flex;
}

.containersection-5{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 100%;
}

.quadratoni{
    display: flex;
    flex-direction: row;
    background-color: #ffd830;
    height: 500px;
}

.container-quadratoni{
    height: 100%;
    width: 33%;
    background-color: darkblue;
    border-right: 0.2rem dotted yellow;
}

.quadratoni-BOTTOM{
    background-color: cornflowerblue;
    height: 300px;
}

.flex-quadratoni-BOTTOM{
    display: flex;
    justify-content: space-between;
}

.quadratoni-start-end{
    background-color: rgb(236, 143, 201);
    flex-direction: row;
    border-right: 0.2rem dotted yellow;
    border-bottom: 0.2rem dotted yellow; ;
    width: 25%;
    height: 25%;
}

.FAQ{
    background-color: violet;
    height: 700px;
}

.footer-scection{
    background-color: crimson;
    height: 100%;
    width: 150px;
}

.img-ppl{
    background-color: rgb(236, 143, 201);
    flex-direction: row;
    border-right: 0.2rem dotted yellow;
    width: 70%;
    height: 100%;
}

.img-ppl-text{
    background-color: red;
    flex-direction: row;
    border-right: 0.2rem dotted yellow;
    width: 30%;
    height: 100%;
}